.footer {
  color: $c-gallery;
  background: $c-mineShaft;
  position: absolute;
  width: 100%;
  bottom: 0;

  h5 {
    margin: 0;
    padding: $space-standard;
    text-align: center;
  }

  @media (max-width: $break-mobile-landscape) {
    position: static;
  }
}
