.header {
  background-color: $c-mineShaft;
  color: $c-white;
  padding: $space-small $space-medium;
  box-shadow: 0 2px 10px rgba($c-mineShaft, 0.5);
  display: flex;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 40px;
  }

  &__title {
    margin-left: $space-small;
    font-size: $space-medium;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__user-info {
    margin-right: $space-small;
  }

  @media (max-width: $break-mobile-landscape) {
    padding: $space-small;

    &__title {
      font-size: 1.2rem;
    }

    &__content {
      font-size: 0.8rem;
    }
  }
}
