.layout {
  text-align: center;
  padding: $space-large;
  padding-bottom: 0;
  max-width: 1500px;
  margin: auto;
  position: relative;

  @media (max-width: $break-mobile-portrait) {
    padding: $space-small;
  }
}
