.movie-list {
  max-width: 500px;
  width: 100%;
  border: 2px solid rgba($c-mineShaft, 0.4);
  border-radius: 1px;
  color: $c-mineShaft;
  padding: $space-small $space-standard;
  text-align: left;
  box-sizing: border-box;
  max-height: 80vh;
  overflow-y: scroll;
  position: relative;

  @include scrollbar();

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__element {
    padding: $space-small;
    margin: $space-x-small 0;
    background-color: $c-gallery;
    border: 1px solid rgba($c-mineShaft, 0.4);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover,
    &:active {
      background: rgba($c-persimmon, 0.2);
    }

    &:active {
      background: rgba($c-persimmon, 0.6);
    }
  }

  &__rotate {
    position: relative;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__description {
    margin: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    box-sizing: border-box;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin: 0;
      padding: $space-x-small 0 0 $space-x-small;
      box-sizing: border-box;
    }
  }

  &__title {
    margin: $space-medium $space-small 0;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
  }
}

.select {
  background-color: rgba($c-persimmon, 0.6);
}

@media (max-width: $break-mobile-landscape) {
  .movie-list {
    &__title {
      margin: 0 $space-small;
      font-size: 0.9rem;
    }
  }
}
