.splash {
  text-align: center;
  padding-bottom: $space-x-large;
  box-sizing: border-box;
  color: $c-mineShaft;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.6),
      rgba($color-primary-dark, 0.7)
    ),
    url("../../../assets/pexels-skitterphoto-390089.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  &__title {
    background-color: rgba($c-mineShaft, 0.1);
    padding: $space-large 0 $space-x-small;
    padding-top: $space-large;
    margin-bottom: $space-x-large;
  }

  &__header {
    padding: 0;
    margin: 0;
    font-size: $space-x-large;
    width: 100%;
  }

  &__subtitle {
    font-size: $space-medium;
    font-size: 500;
  }

  &__btn {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0.4rem 0.6rem;
  }

  &__separator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-x-small;
    font-size: 1.3rem;
    max-width: 400px;
    margin: auto;
    padding: 0 $space-small;
    animation: show 0.5s 0.5s backwards ease;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: $c-mineShaft;
      animation: slide 0.5s 0.8s backwards ease;
    }

    &::before {
      transform-origin: left;
    }

    &::after {
      transform-origin: right;
    }
  }

  @media (max-width: $break-mobile-portrait) {
    font-size: $space-small;
    padding-bottom: $space-standard;

    &__title {
      margin-bottom: $space-medium;
    }

    &__header {
      font-size: $space-medium;
    }

    &__subtitle {
      font-size: 1.2rem;
    }
  }
}

@keyframes show {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
