@import "./variables";
@import "./normalize";
@import "./fonts";

html {
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: $c-white;
  color: $c-black;
  overflow: auto;
  position: relative;
  height: 100vh;
}

img,
input[type="image"],
table {
  aspect-ratio: attr(width) / attr(height);
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
