//  Colors
//==========================================================================
$c-black: #000;
$c-white: #fff;

$c-lochmara: #0570bb;

// Breaks
//==========================================================================
$break-mobile-portrait: 576px;
$break-mobile-landscape: 768px;
$break-tablet-portrait: 992px;
$break-tablet-landscape: 1200px;

// Paddings, Margins
//==========================================================================
$space-x-small: 8px;
$space-small: 14px;
$space-standard: 16px;
$space-medium: 24px;
$space-large: 32px;
$space-x-large: 48px;
$space-xx-large: 60px;
