//  Colors
//==========================================================================
$c-black: #000;
$c-white: #fff;

// Breaks
//==========================================================================
$break-xs: 374px;
$break-mobile: 767px;
$break-mid: 991px;
$break-standard: 1100px;
$break-desktop: 1144px;
$break-laptop: 1299px;
$break-high: 1600px;

// Paddings, Margins
//==========================================================================
$space-x-small: 8px;
$space-small: 14px;
$space-standard: 16px;
$space-medium: 24px;
$space-large: 32px;
$space-x-large: 48px;
$space-xx-large: 60px;
